<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <!--WHEN USING DECLARATIVE SCHEMA ,THERE ISN'T NEED TO SPECIFY SETUP_VERSION. -->
    <module name="FME_CustomizeProduct">
        <sequence> 
            <module name="Magento_Directory"/> 
            <module name="Magento_Config"/> 
        </sequence>
    </module>
</config>